/*
CORES
AZUL ESCURO: #163359
AZUL MÉDIO: #4E94C5
AZUL CLARO: #ACC3F2
CINZA: #F2F2F2
BRANCO: #FFFFFF
AZUL/ROXO: #6883A6
PRETO: #000000

/*================================================*/
/*                   NAVEBAR                      */
/*================================================*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav {
    width: 100%;
    height: 200px;


}

nav div#tipo_template {

    background-image: url(../imagens/imagens/laptop.png);
    width: 100%;
    height: 65px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 96.5%;

}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    height: 60px;

}


nav ul#menu_esquerda {
    float: left;
    line-height: 60px;
    margin-right: 500px;
  
   
}

nav ul#menu_direita {
    float: right;
    margin-top: 50px;
    line-height: 60px;
    width: 100%;
    background-color: #163359;
}



nav ul li {
    list-style: none;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;

}

nav #menu_esquerda li a:hover {
    background-color: #000000;
    color: white;
    border-radius: 10%;
    transition-duration: 2s;

}

nav ul li a:hover {
    color: #000000;
    transition-duration: 0.9s;

}

div#desenho_animacao_foto {}

div#elipse1 {
    background-color: #ACC3F2;
    width: 270px;
    height: 270px;
    float: right;
    margin-top: 250px;
    margin-left: 1280px;
    border-radius: 50%;
    opacity: 25%;
    position: absolute;
    z-index: 1;
}

div#elipse2 {
    background-color: #4E94C5;
    width: 270px;
    height: 270px;
    margin-top: 310px;
    margin-left: 1120px;
    border-radius: 50%;
    opacity: 61%;
    position: absolute;
    z-index: 2;
}

div#elipse3 {

    background-image: url(../imagens/imagens/fotoPerfil.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: 370px;
    margin-left: 1200px;
    border-radius: 50%;
    z-index: 3;
}



div#quadrado_estilizado {
    background-color: #F2F2F2;
    width: 90%;
    height: 560px;
    margin-top: -25px;
    clip-path: polygon(0 0, 25% 0, 81% 100%, 7% 100%);
    position: relative;
    z-index: 1;

}

div#saudacao {

    width: 350px;
    height: 55px;
    margin-top: 100px;
    margin-left: -30px;
    text-align: left;
    position: absolute;

}

div#animacao_nome {
    width: 950px;
    height: 50px;
    margin-top: 200px;
    margin-left: 80px;
    text-align: left;
    position: absolute;
    z-index: 2;

}

div#area_conhecimento {

    width: 350px;
    height: 55px;
    margin-top: 350px;
    margin-left: 70px;
    text-align: left;
    position: absolute;

}

div#retangulo_ponta_a_ponta {
    background-color: #F2F2F2;
    width: 100%;
    height: 150px;
}

div#linkedin_icone {
    background-image: url(../imagens/icones/icons8-linkedin-2-48.png);
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    margin-right: 5px;

}

div#github_icone {
    background-image: url(../imagens/icones/icons8-github-48.png);
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 100px;
    margin-right: 50px;
}