/*
CORES
AZUL ESCURO: #163359
AZUL MÉDIO: #4E94C5
AZUL CLARO: #ACC3F2
CINZA: #F2F2F2
BRANCO: #FFFFFF
AZUL/ROXO: #6883A6
PRETO: #000000

/*================================================*/
/*                   NAVEBAR                      */
/*================================================*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav {
    width: 100%;
    height: 200px;


}

nav div#tipo_template {

    background-image: url(../imagens/imagens/laptop.png);
    width: 100%;
    height: 65px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 96.5%;

}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    height: 60px;

}


nav ul#menu_esquerda {
    float: left;
    line-height: 60px;
    margin-right: 300px;
    position: absolute;
    margin-top: 50px;
    margin-left: 35px;

}

nav ul#menu_direita {
    float: right;
    margin-top: 50px;
    line-height: 60px;
    width: 100%;
    background-color: #163359;
}



nav ul li {
    list-style: none;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;

}

nav #menu_esquerda li a:hover {
    background-color: #000000;
    color: white;
    border-radius: 10%;
    transition-duration: 2s;


}

nav ul li a:hover {
    color: #000000;
    transition-duration: 0.9s;

}



div#elipse1 {
    background-color: #ACC3F2;
    width: 270px;
    height: 270px;
    float: right;
    margin-top: 250px;
    margin-right: 110px;
    border-radius: 50%;
    opacity: 25%;
    position: relative;
    z-index: 1;
}

div#elipse2 {
    background-color: #4E94C5;
    width: 270px;
    height: 270px;
    float: right;
    margin-top: 285px;
    margin-right: -110px;
    border-radius: 50%;
    opacity: 61%;
    position: relative;
    z-index: 2;
}

div#elipse3 {

    background-image: url(../imagens/imagens/fotoPerfil.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    float: right;
    margin-top: 355px;
    margin-right: -380px;
    border-radius: 50%;
    position: relative;
    z-index: 3;
}


div#desenho_animacao_foto {
    width: auto;


}

div#quadrado_estilizado {
    background-color: hsl(0, 0%, 98%);
    width: 90%;
    height: 560px;
    margin-top: -25px;
    clip-path: polygon(0 0, 25% 0, 81% 100%, 7% 100%);
    position: relative;
    z-index: 1;
}

div#saudacao {

    width: 350px;
    height: 55px;
    margin-top: 120px;
    margin-left: -30px;
    text-align: left;
    position: absolute;

}

div#animacao_nome {
    width: 1000px;
    height: 50px;
    margin-top: 230px;
    margin-left: 50px;
    text-align: left;
    position: absolute;
    z-index: 2;

}

div#area_conhecimento {

    width: 400px;
    height: 55px;
    margin-top: 380px;
    margin-left: 55px;
    text-align: left;
    position: absolute;

}

div#retangulo_ponta_a_ponta {
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    height: 150px;
    border-bottom: 0.5px solid #ACC3F2;
}

div#linkedin_icone {
    background-image: url(../imagens/icones/icons8-linkedin-2-48.png);
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    margin-right: 5px;

}

div#github_icone {
    background-image: url(../imagens/icones/icons8-github-48.png);
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 100px;
    margin-right: 50px;
}


/* ================ INICIO SEÇÃO SOBRE ===============*/

section#sobre {

    background-image: linear-gradient(rgb(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(../imagens/imagens/19366.jpg);
    background-repeat: no-repeat;
    
    background-size: 100%;

    width: auto;
    margin: auto;
    height: 2000px;
    margin-top: 40px;


}

section #titulo_sobre {
    margin-left: -1200px;

}

section #conteudo_sobre {

    margin-top: 50px;
    margin-left: 210px;

}

#conteudo_sobre p {

    letter-spacing: 2px;
    line-height: 30px;

}


section #reconhecimento_sobre {
    margin-top: 120px;
    margin-bottom: 40px;

}

section #quadro_reconhecimento {
    width: 80%;
    margin: auto;
    height: 1150px;
}

section #quadro_reconhecimento0 {
    background-image: url(../imagens/imagens/premios0.png);
    width: 50%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    margin-bottom: 50px;
    

  


}

section #quadro_reconhecimento1 {
    background-image: url(../imagens/imagens/premios1.png);
    width: 50%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    margin-bottom: 50px;

}

section #quadro_reconhecimento2 {
    background-image: url(../imagens/imagens/premios2.png);
    width: 50%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    margin-bottom: 50px;

}


section #quadro_reconhecimento3 {
    background-image: url(../imagens/imagens/premios3.png);
    width: 50%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    margin-bottom: 50px;

}






/* ================ FIM SEÇÃO SOBRE ===============*/